header{
    display: inline-block;
    width: 100%;
    
}
.superior {
    position: fixed;
    display: grid;
    grid-template-columns: 0.3fr 2fr;
    width: 100%;
    height: 80px;
    top: 0;
    background: white;
    z-index: 100;
}
.logo{
    border-radius: 5px;
    float: left; 
    padding-left: 30px;
    height: 100%;
}
.logo img{
    width: 75px;
}
.menu{
    text-align-last: end;
} 
    .cuerpo-titulo {
        color: #2CBE9B;
        margin-block-end: 3px;
        -webkit-text-stroke: 1.5px #29705E;
    }
    .button{
        padding-inline-start: 0px;
    }
    .menu li{
        list-style-type: none;
        margin: 0px;
        padding: 1% 15px;
        display: inline-block;
        }
    .menu ul li a{      
        color: #27AD8B;
        text-decoration: none;
        font-weight: bolder;
        font-size: 35px;
        font-family: sans-serif;
    }
    ul.button>li:hover a {
        color: white;
    }
    ul.button>li:hover {
        background: #79bfad;
        border-radius: 13px;
        /* background: #e86969; */
        border-radius: 6px;
        box-shadow: 0px 0px 5px 5px #9bdecd;
        -webkit-box-shadow: 0px 0px 5px 5px #9bdecd;
    }
div.inferior{
        background: url(../images/ladrillos.jpg) #CEFCF0;
        width: 100%;
        height: 480px;
        position: relative;
}
    div.mifoto{
    text-align: center;
    padding-top: 100px;
    }
    .mifoto .redonda{
        position: absolute;
        top: 105px;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        border-radius: 50%;
        border: 8px solid white;
        width: 250px;
    }
div.cuerpo{
    height: 500px;
    font-size: 40px;
    text-align: center;
    padding: 15px 15px;
    margin-bottom: 45px;
    
}
.cuerpo h3{
    padding-top: 10%;
}
.cuerpo a{
    text-decoration: none;
    color: teal;
}
.cuerpo a:hover{
    text-decoration: underline;

}
div.cuerpof{
    width: 100%;

}
 .negro{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    background-color: #4d4d4d;
}
div.marca_name{
    display: inline-block;
}
#rosa{
    display: block;
    width: 100%;
    height: 25%;
    position: absolute;
    margin: 21% 0;
    background-color: rgb(197, 111, 111);
}
#marca_lastname, #marca_surname{
    float: left;
    width: 50%;
    height: 230px;
}
#contenedor{
    display: inline-block;
    width: 50%;
    position: relative;
    margin: 5% 25%;
    padding: 3%;
    margin-right: -2%;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px #383838;
    height: 100%;
    background-color: #333;
}
.submit {
    text-align: center;
    width: 20%;
    padding: 1%;
    height: 24px;
    margin: 2% 35%;
    border: 3px solid white;
}
.texto_contacto>h2 {
    font-size: 40px;
    text-align: center;
    color: white;
}
form {
    font-size: 25px;
    padding-left: 45px;
    color: white;
}
.formulario, .opinion, .submit{
    margin: 15px;
}
.opinion {
    margin: 0px 15px;
    width: 542px;
    height: 77px;
}
.submit:hover {
    background-color: #c56f6f;
    color: white;
    font-weight: bolder;
    border-radius: 6px;
}
.submit {
    text-align: center;
    width: 20%;
    padding: 1%;
    height: 24px;
    margin: 5% 35%;
    background: #827979;
    color: #e2d7d7;
    border: 3px solid #c56f6f;
}

.boton {
    background-color: transparent;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    font-weight: 15px;
}

.texto_contacto {
    border: 5px;
    padding: 1.5%;
    border: 4px solid #c56f6f;
    border-radius: 8px;
}
.texto-seccion, .imagen-seccion{
    float: left;
    width: 600px;
    height: 320px;
    margin-top: 15px;
    border-radius: 20px;
    border-style: solid;
    border-color: #037457;
    margin-left: 10px;
    padding: 0px 10px;
    text-align: center;
    
}
.texto-seccion{
    margin-right: 50px;
    font-size: 25px;
    color: blanchedalmond;
    -webkit-text-stroke: 1.5px rgb(224, 70, 70);
}
.listaf{
    list-style-type: none;
    -webkit-text-stroke:0px;
}

.listaf a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
footer a{
    color: black;
    text-decoration: none;
    
}
.listacerca, .listporta{
    padding-inline-start: 0px;
    padding: 0px 10px;
}

footer li{
    list-style-type: none;
}
footer{
    margin: 1px 50px;
    margin-left: 0px;
    margin-right: 0px;
}
.footera, .footerp{
    margin: 15px auto;
    width: 500px;
    padding: 10px 10px;
    font-size: 25px;
    position: relative;
    display: grid;
    text-align: center;
    box-shadow: 0px 0px 3px 3px #ccc;
}
.imagen-footera, .imagen-footerp{
    background: url(../images/acerca.jpg);
    max-width: 100%;
    height: 150px;
}

.container-footer {
    position: relative;
    width: 100%;
    display: flex;
    padding: 25px 0px;
}
div.pagina{
        padding: 5px 0px;
        text-align: center;
        margin: 2% 25%;

}

.img5{
    border-radius: 50%;
    padding: 5px 10px;
}
.pagina a{
    font-size: 20px;
    color: lightslategray;
}
div.footers{
    grid-column: 1/4;
    display: block;
    text-align: center;
    /* background: rgb(197, 111, 111); */
    max-width: 100%;
    max-height: 250px;
}
div.contactos{
        max-width: 100%;
        display: inline-flex;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
div.f, .i, .t, .y{
    display: inline-block;
    /* width: 330.25px; */
    text-align: center;
    font-size: 55px;
    
    /* margin-top: 10px; */
}
div.f>*>i, .i>*>i, .t>*>i, .y>*>i{
    vertical-align: middle;
}
.contenedor:hover .imagen {-webkit-transform:scale(1.3);transform:scale(1.3);}
.contenedor {overflow:hidden;}

.f:hover>a, .i:hover>a, .t:hover>a, .y:hover>a {
    font-size: 60px;
    height: 71px;
    /* color: #f61947; */
    /* background: #121212; */
    transition: .4s ease-in-out;
    -webkit-transform:scale(3);transform:scale(3);
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    text-align: center;
    /* margin-bottom: 19px; */
    font-weight: 900;
    border-radius:50%;
/* -webkit-border-radius:50%; */

}

div.f:hover, .i:hover, .t:hover, .y:hover {
    background: #e86969;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 7px 7px #dd9898;
    -webkit-box-shadow: 0px 0px 7px 7px #dd9898;
}
.fa-youtube, .fa-twitter, .fa-instagram-square, .fa-facebook{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome; /* Especificamos que fuente utilizar*/
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: darkslategrey;
}
.contactos>* {
    background: rgb(197, 111, 111);
    border-radius: 6px;
}

.container-hamburguesa {
    color: black;
}
.hamburguesa{
    width: 30px;
    float: right;
    height: 30px;
    padding: 20px;
}
.line{
    background: #2f4f4f;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 4px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
/* PARTE RESPONSIVE DESING */
@media (min-width: 769px){
    .menu{
        margin-right: 6%;
        /* padding-bottom: 0px;  */
    }
    .hamburguesa{
        display: none;
    }
    
}
@media(max-width:768px){
    .menu{
        display: none;
    }
}
.espacio1, .espacio2, .espacio3, .espacio4{
    width: 45%;
    height: 100%;
    border: groove;
    margin: 10px 10px;
}
.caja1, .caja2{
    width: 100%;
    height: 50%;
    display: flex;
    margin: 2%;
}
/* .espacio1{
    background-image: url(../images/libros1.jpg);
    background-size: cover;
    text-align: center;
    box-shadow: 8px 8px 0.5px 0.5px #ccc;
} */
body{
    margin: 0;
    background-color: #fbfbfb;
}
.carrusel_libros{
    width: 100%;
    overflow: hidden;

}
.slider_carrusel{ /* PERMITE NO HACER SCROOL */ 
    width: 100%;
    display: flex;

}
.contenido_slider{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F9E79F;
    flex-shrink: 0;
    color:rgb(19, 19, 19);
}
.contenido_slider:nth-child(2){
    background: #EDB9AD ;
    color: rgb(19, 19, 19);
}
.contenido_slider:nth-child(3){
    background: #DAF7A6 ;
    color:rgb(19, 19, 19);
}
.cajon_libro{
    position: relative;
    border: groove;
    border-color: #ecebeb;
}
.contenido_slider>img{
    width: 400px;
}
.contenido_slider >div{
    width: 40%;
    padding: 15px;
    box-shadow: 0px 5px 20px #928c8c;

}
.titulo_libro{
    font-size: 55px;
    text-align: center;
    line-height: 55px;
    text-shadow: 0.05em 0.05em 0.05em rgb(134 129 129);
    margin-block-end: 0;
    margin-block-start: 0;
}
.formato_libro1 {
    color: #9cc4da;
    -webkit-text-stroke: 0.5px #66899c;
}
.formato_libro2 {
    color: #27476f;
    -webkit-text-stroke: 0.5px #0b1419;
}
.formato_libro3 {
    color: #884646;
    -webkit-text-stroke: 0.5px #5d1e1e;
}
.contenido_slider h3{
    font-size: 25px;
    text-align: center;
    line-height: 45px;
    margin-block-end: 0em;
    margin-block-start: 0em;

}
.contenido_slider p{
    text-align: justify;
    font-size: 20px;
}

.contenido_slider a{
    color: white;
    background: #AE3161;
    margin-left: 150px;
    display: block;
    text-align: center;
    padding: 15px 0;
    border-radius: 3px;
    margin-top: 20px;
    text-decoration: none;
    width: 100px;
}
@media screen and (max-width: 900px){
    .contenido_slider>img{
        width: 250px;
    }
    .contenido_slider>div{
        width: 40%;
    }
    .contenido_slider h2{
        font-size: 23px;
    }
}
@media screen and (max-width: 600px){
    .contenido_slider>img{
        flex-direction: column-reverse;
    }
    .contenido_slider>div{
        width: 80%;
    }
}